.App {
  text-align: center;
  background-color: #189AB4;
  width: 40%;
  height: auto;
  margin: 150px auto;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 10px rgb(77, 77, 77);
}

.header{
  padding: 1rem;
  color: white;
}

.App input{
  width: 90%;
  height: 30px;
  margin-bottom: .5rem;
}

.list{
  width: 90%;
  margin: auto;
}

.listItem{
  padding-left: 0px;
}

.listItem li{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background-color: #B49A18;
  color: white;
  margin-bottom: 5px;
  padding: 2px;
}

.listItem p{
  color: white;
  text-align: left;
  font-weight: 700;
}

.addForm{
  padding-bottom: 10px;
}

.addForm button{
  padding: 3px 15px;
 /* background-color: #C5E5EC;*/
 background-image: linear-gradient(#fefefe, #42e12d);
  color: black;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
}

.addForm button:hover{
  background-image: linear-gradient(#81ec73, #fefefe);
}